.requestHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
}

.headerTopLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerLeftTop {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.description {
  font-size: 0.75rem;
  color: #b7b7b7 !important;
}
